.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary-color) !important;
    border-bottom: var(--dashed-border);
}

.navbar-brand {
    font-weight: 200;
}

.avatar {
    width: 36px;
    margin: 0 5px;
}